.reviewsWrapper{
  margin-top: 135px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.reviewsHeaderContainer{
  display: flex;
  gap: 30px;
  flex-direction: column;
  width: 529px;
  height: 232px;
  justify-content: center;
  align-items: center;
}

.reviewsHeader{
  font-weight: 700;
  font-size: 59px;
  line-height: 124%;
  text-align: center;
  color: #1B1F2B;
}

.reviewsSubHeader{
  font-weight: 400;
  font-size: 20px;
  line-height: 142%;
  text-align: center;
  color: #A6A6A6;
  width: 418px;
  height: 56px;
}

.reviewsListContainer{
  width: 1170px;
  margin-top: 100px;
  display: flex;
  gap: 30px;
}

.reviewCardContainer{
  border-radius: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 40px;
  width: 570px;
  height: 673px;
  background: #F4F0E9;
}

.review{
  font-size: 23px;
  font-weight: 700;
  line-height: 28.06px;
  text-align: left;
  color: #1B1F2B;
}

.reviewerContainer{
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: end;
}

.reviewerPhoto{
  border-radius: 50%;
  height: 75px;
  width: 75px;
}

.reviewerInfoContainer{
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.reviewerInfoHeader{
  font-size: 35px;
  font-weight: 500;
  line-height: 42.7px;
  text-align: left;
  color: #1B1F2B;
}

.reviewerInfoSubHeader{
  font-size: 17px;
  font-weight: 400;
  line-height: 24.14px;
  letter-spacing: -0.01em;
  text-align: left;
  color: #A6A6A6;
}

@media screen and (max-width: 1024px) {
  .reviewsListContainer{
    width: auto;
    gap: 18px;
  }

  .reviewCardContainer{
    width: 450px;
    height: 841px;
    padding: 40px;
    border-radius: 50px;
  }
}

@media screen and (max-width: 768px) {
  .reviewsWrapper {
    margin-top: 75px;
    gap: 50px;
  }

  .reviewsHeaderContainer {
    gap: 20px;
    height: auto;
    width: auto;
  }

  .reviewsHeader {
    font-size: 34px;
    font-weight: 700;
    line-height: 38.08px;
    letter-spacing: 0.02em;
    text-align: center;
    height: auto;
  }

  .reviewsSubHeader {
    font-size: 16px;
    font-weight: 400;
    line-height: 22.72px;
    text-align: center;
    height: auto;
    width: 318px;
  }

  .reviewsListContainer{
    margin-top: 0;
    width: 100%;
    gap: 18px;
    padding: 0 21px;
    flex-direction: column;
  }

  .reviewCardContainer{
    width: auto;
    height: auto;
    padding: 20px;
    border-radius: 20px;
    gap: 40px;
  }

  .review{
    font: 700 1rem / 1.44 roboto;
  }

  .reviewerInfoHeader{
    font-size: 23px;
    font-weight: 700;
    line-height: 27.6px;
    letter-spacing: 0.04em;
    text-align: left;
  }

  .reviewerInfoSubHeader{
    font-size: 16px;
    font-weight: 400;
    line-height: 22.72px;
    letter-spacing: -0.01em;
    text-align: left;
  }
}
