.tourFormWrapper{
  margin-top: 135px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 100px;
}

.tourFormHeaderContainer{
  display: flex;
  gap: 30px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.tourFormHeader{
  font-weight: 700;
  font-size: 59px;
  line-height: 124%;
  text-align: center;
  color: #1B1F2B;
}

.tourFormSubHeader{
  font-weight: 400;
  font-size: 20px;
  text-align: center;
  color: #A6A6A6;
  width: 418px;
  height: 56px;
  line-height: 28.4px;
}

.tourFormContainer{
  border-radius: 50px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 70px;
  gap: 30px;
  width: 1170px;
  height: 986px;
  background: #FFFFFF;
}

.tourFormFieldsGroup{
  display: flex;
  gap: 30px;
  width: 100%;
}

.tourFormInputContainer{
  display: flex;
  gap: 8px;
  flex-direction: column;
  width: 50%;
}

.tourFormInputHeader{
  font-size: 20px;
  font-weight: 400;
  line-height: 28.4px;
  text-align: left;
}

.tourFormInputLabel{
  cursor: pointer;
}

.tourFormInput{
  border-radius: 10px;
  border: 1px solid #F4F0E9;
  background: #F9F7F4;
  padding: 20px;
  color: #1B1F2B;
  font-size: 20px;
  font-weight: 400;
  line-height: 28.4px;
  text-align: left;
  font-family: "Roboto", sans-serif;
  width: 100%;
  outline: none;
  cursor: pointer;

  &:invalid{
    color: #A6A6A6;
  }

  &::placeholder{
    color: #A6A6A6;
    font-family: "Roboto", sans-serif;
  }
}

.tourFormSelectLabel{
  width: 100%;
  cursor: pointer;
  position: relative;

  &::after{
    content: '';
    position: absolute;
    transform: rotate(-45deg);
    width: 13.31px;
    height: 13.31px;
    border-color: #1b1f2b;
    border-bottom: 2px solid;
    border-left: 2px solid;
    top: 23px;
    right: 24px;
    margin-top: -2px;
  }
}

.tourFormSelect{
  border-radius: 10px;
  border: 1px solid #F4F0E9;
  background: #F9F7F4;
  font-size: 20px;
  font-weight: 400;
  line-height: 28.4px;
  text-align: left;
  font-family: "Roboto", sans-serif;
  width: 100%;
  outline: none;
  cursor: pointer;
  padding: 20px;
  color: #1B1F2B;
  position: relative;
  appearance: none;

  &:invalid{
    color: #A6A6A6;
  }
}

.tourFormTextAreaContainer{
  display: flex;
  gap: 8px;
  flex-direction: column;
  width: 100%;
}

.tourFormTextArea{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 20px;
  width: 100%;
  height: 152px;
  background: #F9F7F4;
  border: 1px solid #F4F0E9;
  border-radius: 10px;
  resize: none;
  outline: none;
  color: #1B1F2B;
  font-size: 20px;
  font-weight: 400;
  line-height: 28.4px;
  text-align: left;
  font-family: "Roboto", sans-serif;
}

.tourFormRadioGroup{
  display: flex;
  gap: 31px;
  width: 100%;
  align-items: center;
}

.tourFormRadioContainer{
  display: flex;
  gap: 11px;
  align-items: center;
  cursor: pointer;
  font-size: 20px;
  font-weight: 400;
  line-height: 28.4px;
  text-align: left;
}

.tourFormRadioButton{
  width: 26px;
  height: 26px;
  border: 2px solid #1B1F2B;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  outline: none;
  cursor: pointer;
  color: #1B1F2B;
  appearance: none;

  &:checked::before{
    content: '';
    width: 12px;
    height: 12px;
    background-color: #1B1F2B;
    border-radius: 50%;
    border: none;
    outline: none;
  }
}

.tourFormCheckboxContainer{
  display: flex;
  align-items: center;
  gap: 19px;
}

.tourFormCheckbox{
  display: flex;
  align-items: center;
  justify-content: center;
  appearance: none;
  outline: none;
  border: 2px solid #1B1F2B;
  position: relative;
  width: 26px;
  height: 26px;
  border-radius: 5px;
  cursor: pointer;

  &:checked::before{
    content: '';
    width: 12.24px;
    height: 7.12px;
    top: 4px;
    left: 4px;
    border-color: #1b1f2b;
    border-bottom: 2px solid;
    border-left: 2px solid;
    position: absolute;
    transform: rotate(-45deg);
  }
}

.tourFormCheckboxText{
  font-size: 17px;
  font-weight: 400;
  line-height: 24.14px;
  letter-spacing: -0.01em;
  text-align: left;
  color: #A6A6A6;
  width: 509px;
  height: 24px;
}

.tourFormCheckboxLink{
  color: #1b1f2b;
  cursor: pointer;
  font-size: 17px;
  font-weight: 400;
  line-height: 24.14px;
  letter-spacing: -0.01em;
  text-align: left;
}

.tourFormButtonsContainer{
  display: flex;
  gap: 30px;
}

.tourFormSubmitButton{
  width: 235px;
  padding: 15px 30px 15px 30px;
  border-radius: 10px;
  background: #286562;
  font-size: 20px;
  font-weight: 400;
  line-height: 28.4px;
  text-align: center;
  border: none;
  color: #FFFFFF;
  cursor: pointer;
}

.tourFormResetButton{
  width: 235px;
  padding: 15px 30px 15px 30px;
  border-radius: 10px;
  background: #E0F0E5;
  font-size: 20px;
  font-weight: 400;
  line-height: 28.4px;
  text-align: center;
  border: none;
  color: #286562;
  cursor: pointer;
}

@media screen and (max-width: 1250px) {
  .tourFormContainer{
    width: 918px;
    height: 966px;
    padding: 60px;
    border-radius: 50px;
  }

  .tourFormFieldsGroup{
    gap: 20px
  }

  .tourFormCheckboxContainer{
    gap: 11px;
    position: relative;
    top: 4px;
  }

  .tourFormButtonsContainer{
    position: relative;
    top: 8px;
  }
}

@media screen and (max-width: 950px) {
  .tourFormWrapper{
    margin-top: 75px;
    gap: 40px;
    padding: 0 21px;
  }

  .tourFormHeaderContainer{
    gap: 20px;
  }

  .tourFormHeader{
    font-size: 34px;
    font-weight: 700;
    line-height: 38.08px;
    letter-spacing: 0.02em;
    text-align: center;
  }

  .tourFormSubHeader{
    font-size: 16px;
    font-weight: 400;
    line-height: 22.72px;
    text-align: center;
    height: auto;
    width: auto;
  }

  .tourFormContainer{
    //width: 318px;
    height: 1110px;
    padding: 20px 20px 40px 20px;
    gap: 30px;
    border-radius: 30px;
    max-width: 680px;
    width: 100%;
  }

  .tourFormInputContainer{
    width: 100%;
  }

  .tourFormFieldsGroup{
    flex-direction: column;
    gap: 30px;
  }

  .tourFormInputHeader{
    font-size: 16px;
    font-weight: 400;
    line-height: 22.72px;
    text-align: left;
    height: 23px;
  }

  .tourFormTextAreaContainer{
    top: -3px;
    position: relative;
  }

  .tourFormTextArea{
    //width: 278px;
    height: 132px;
    padding: 10px;
    gap: 10px;
    border-radius: 10px;
    cursor: pointer;
  }

  .tourFormSelectLabel{
    &::after{
      top: 13px;
      right: 15px;
    }
  }

  .tourFormInput, .tourFormSelect, .tourFormTextArea{
    padding: 10px;
    font-size: 16px;
    font-weight: 400;
    line-height: 22.72px;
    text-align: left;
  }

  .tourFormCheckboxContainer{
    width: 278px;
    height: 69px;
    gap: 10px;
  }

  .tourFormRadioButton{
    height: 20px;
    width: 20px;

    &:checked::before{
      width: 8px;
      height: 8px;
    }
  }

  .tourFormRadioContainer{
    font-size: 16px;
    font-weight: 400;
    line-height: 22.72px;
    text-align: left;
  }

  .tourFormRadioGroup{
    top: -5px;
    gap: 30px;
    position: relative;
  }

  .tourFormCheckboxContainer{
    align-items: start;
  }

  .tourFormCheckbox{
    width: 20px;
    height: 20px;

    &:checked::before{
      width: 9px;
      height: 5px;
    }
  }

  .tourFormCheckboxContainer{
    top: -5px;
  }

  .tourFormCheckboxText{
    font-size: 16px;
    font-weight: 400;
    line-height: 22.72px;
    text-align: left;
    width: 248px;
    height: 69px;
  }

  .tourFormCheckboxLink{
    color: #1b1f2b;
    font-size: 16px;
    font-weight: 400;
    line-height: 22.72px;
    text-align: left;
  }

  .tourFormButtonsContainer{
    width: 100%;
    align-items: center;
    justify-content: center;
    height: 47px;
    gap: 12px;
    position: relative;
    top: -7px
  }

  .tourFormResetButton, .tourFormSubmitButton{
    font-size: 16px;
    font-weight: 400;
    line-height: 22.72px;
    width: 134px;
    padding: 12px;
  }
}

@media (hover: hover) {
  .tourFormTextArea, .tourFormInput, .tourFormSelect{
    &:hover{
      background: #F4F0E9;
    }
    &:focus{
      border: 1px solid #A6A6A6;
      background: #F4F0E9;
    }
  }

  .tourFormCheckboxLink{
    &:hover{
      text-decoration: underline;
    }
    &:active{
      color: #286562;
    }
  }

  .tourFormSubmitButton{
    &:hover{
      background: #3B7E7B;
    }
    &:active{
      background: #627F7E;
    }
  }

  .tourFormResetButton{
    &:hover{
      background: #F1F3F2;
    }
    &:active{
      background: #D9DFDB;
    }
  }
}